/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Science+Gothic:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* Estilos universales */
* {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Colores */
:root{
    --page-color-600-banner: #360c72;  /* Banner Historias que vuelan */
    --page-color-500-btns: #652bdf;  /* Boton 1 y 2 nav; Botones main seccion 2 */
    --page-color-400-icons: #7243e0;  /* Font icons */
    --page-color-300-heartbanner: #9a2bf8;  /* Heart banner */
    --page-color-200-btnhover: #e4d7ff;  /* Hover color botones nav */
    --page-color-100-bckicons: #f0eafc;  /* Background icons */
    --page-color-000-bckpage: #fcfbff;   /* Fondo de pagina */
}





/* SECCION DEL HEADER */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px lightgray solid;
}

.header-content {
    display: flex;
    width: 990px;
    height: 50px;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

.nav-mobile-button-menu {
    display: none;
}

.a-logo-01 {
    display: flex;
    width: 140px;
    height: 37px;
}

.a-logo-02 {
    display: none;
}

.nav-desktop {
    width: 460px;
    height: 41px;
    display: flex;
    align-items: center;
    border-right: gray 1px solid;

}

.nav-list {
    display: flex;
}

.nav-link {
    width: 80px;
    height: 21px;
    margin: 0px 4px;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 40px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: var(--page-color-200-btnhover);
}

.header-divider {
    border-right: 1px lightgray solid;
    margin: 0px 4px;
}

.nav-desktop-button-01 {
    display: flex;
    width: 110px;
    height: 21px;
    margin: 0px 0px;
    padding: 9px 24px;
    border: 1px var(--page-color-500-btns) solid;
    border-radius: 40px;
    background-color: white;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--page-color-500-btns);
    transition: background-color 0.5s ease;
}

.nav-desktop-button-01:hover {
    background-color: var(--page-color-200-btnhover);
}

.nav-desktop-button-02 {
    display: flex;
    width: 110px;
    height: 21px;
    margin: 0px;
    padding: 9px 24px;
    border: 1px var(--page-color-500-btns) solid;
    border-radius: 40px;
    background-color: var(--page-color-500-btns);
    color: white;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.5s ease;

}

.nav-desktop-button-02:hover {
    background-color: var(--page-color-200-btnhover);
    color: #360c72;
}








/* Estilos del body */
body {
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */

    background-color: var(--page-color-000-bckpage);

    padding-top: 82px;
}

.main-separator-01 {
    width: 1022px;
    height: 64px;
}


/* SECCCION 01 - Te damos la bienvenida al vuelo de tu negocio */
.section-main-01 {
    background-color: var(--page-color-000-bckpage);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1022px;
}

h1 {
    display: flex;
    width: 1022px;
    height: 42px;
    align-items: center;
    justify-content: center;
    margin: 8px;
    font-size: 40px;
}

.section-separator-01 {
    width: 1022px;
    height: 32px;
}

.boxmain-01 {
    display: flex;
    justify-content: space-between;
    width: 1022px;
}

.boxdesign-01 {
    width: 267px;
    height: 260px;
    padding: 24px;
    padding-top: 1%;
    border: white solid;
    border-radius: 10px;
    background-color: white;
    transition: padding 0.25s ease;

}

.boxdesign-01:hover {
    padding-top: 0%;
}

.boxdiv-icono-01 {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--page-color-400-icons);
    font-size: 25px;
    background-color: var(--page-color-100-bckicons);
    border-radius: 5px;
}

.boxtitle-01 {
    font-size: 24px;
}

.boxpgph-01 {
    font-size: 18px;
    color: darkgray;
}



.boxdesign-02 {
    display: flex;
    max-width: 1022px;
    min-width: 925px;
    max-height: 80px;
    padding: 32px 40px;
    background-color: var(--page-color-600-banner);
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
}

.boxdesign-03 {
    color: white;
    width: 670px;
}

.boxtitle-02 {
    font-size: 30px;
}

.boxpgph-02 {
    font-size: 18px;
}

.boxbutton-02 {
    display: flex;
    width: 168px;
    height: 41px;
    padding: 10px;
    border-radius: 40px;
    border: 0px solid;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.boxbutton-02 a {
    color: var(--page-color-500-btns);
}

.boxbutton-02:hover {
    background-color: black;
}

.boxbutton-02:hover a {
    color: var(--page-color-200-btnhover);
}

.bi-heart-fill {
    color: var(--page-color-300-heartbanner);
    font-size: 20px;

}








/* Section 2 - Encontrá tu medio de pago ideal */
.section-main-02 {
    background-color: var(--page-color-000-bckpage);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1022px;
}

.section-main-02-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boxdesign-04 {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    max-width: 1022px;
    max-height: 350px;
    justify-content: space-between;
    align-items: center;
}

.boxdesign-06 {
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 1022px;
    max-height: 350px;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.boxdesign-05 {
    display: flex;
    flex-direction: column;
    width: 486px;
    height: 286px;
    padding: 32px 24px;
    background-color: white;
    gap: 15px;
    justify-content: center;
}

.boxdesign-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 510px;
    height: 350px;
}

.section-main-02-image {
    width: 90%;
    height: auto;
    transition: transform 0.5s ease;  /* ACÁ NO SE HACE LA TRANSICION */
}

.section-main-02-image:hover {
    transform: scale(1.1);
}

.boxtitle-03 {
    font-size: 30px;
    font-weight: bold;
}

.boxpgph-03 {
    font-size: 18px;
}

.boxbutton-03 {
    display: flex;
    width: 161px;
    height: 45px;
    padding: 0px;
    border-radius: 40px;
    background-color: var(--page-color-500-btns);
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: white;
    transition: background-color 0.75s ease;
}

.boxbutton-03:hover {
    background-color: var(--page-color-600-banner);
}



/* Footer */

.footer-grid-01{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1022px;
    height: 373px;
    grid-template-rows: 44px auto;
}

.footer-grid-div-00{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 60px;
}
.footer-grid-div-01{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.footer-grid-div-02{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.footer-grid-div-03{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.footer-grid-div-04{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.footer-title-01{
    font-size: 16px;
    font-weight: bold;
}

.footer-list-item-01{
    font-size: 14px;
    color: black;
}
.footer-list-item-01:hover{
    color: blueviolet;
    text-decoration: underline;
}